@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
   background-color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 14px;
   color: #555;
   -webkit-font-smoothing: antialiased;
   -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
}

a {
  color: #493242;
  word-wrap: break-word;
}

a:hover,
a:focus {
  color: #493242;
  text-decoration: underline;
  outline: 0;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 10px 0;
}

.navbar {
  padding-top: 35px;
  padding-bottom: 35px;
  text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #83bacf ;
	border-color: #96c3d7;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  padding-left: 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #493242;
	text-decoration:none;
  cursor: pointer;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.avatar {
  width: 100px;
  margin-bottom: 20px;
}

.content{
  padding: 40px 0 40px 0;
}

.work{
  max-width: 100%;
  height: auto;
  border: 1px solid;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer p {
	color: white;
  text-align: left;
}

#footer a {
  color:#83bacf;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 10px;
}

#footer .col-md-4 {
  padding-left: 20px;
}

@media (max-width: 1190px) {
  #footer .col-md-4 {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .navbar-nav{
    float:right;
    display: inline;
    padding-right:20px;
  }

  #footer .container {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {

}
